.app-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    font-size: 0.875em;
    color: $darkGray;
    background-color: $btnHover;

    .app-footer {
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .options,
        .media {
            display: flex;
            column-gap: 1em;

            span {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        & .media {
            display: flex;
            column-gap: 2em;
            align-items: center;
            font-family: circular-bold;

            & .share {
                display: flex;
                column-gap: 1em;

                & .facebook,
                .twitter,
                .instagram {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 1.25em, ;
                    height: 1.25em, ;
                    background-color: $darkGray;

                    cursor: pointer;
                }

                & .instagram:before {
                    content: '\f16d';
                    font-family: fa-brands;
                    color: white;
                }

                & .twitter:before {
                    content: '\f099';
                    font-family: fa-brands;
                    color: white;
                }

                & .facebook:before {
                    content: '\f39e';
                    font-family: fa-brands;
                    color: white;
                }
            }
        }


    }
}

@media (width > 900px) {
    .app-footer-container .app-footer {
        column-gap: 23em;
    }
}


@media (width < 600px) {
    .app-footer-container{
       display: none;
    }
}