.footer-color {
    width: 100%;
    height: fit-content;
    background-color: $btnHover;
}

.app-footer {
    @media (min-width: 100px) {
        grid-template-rows: repeat(2, 1fr);
        padding: rem(24px) rem(24px);
        color: $darkGray;
        background-color: $btnHover;
        position: relative;
        bottom: 0;
        width: 100%;

        &.invisible {
            display: none;
        }

        .credits-and-links {
            grid-row: 2;
            grid-template-rows: repeat(2, 1fr);

            .links span,
            .credits span {
                font-size: rem(12px);
            }

            .credits {
                grid-row: 1;
                margin-block-end: rem(2px);

                span {
                    display: none;
                }
            }

            .links {
                grid-row: 2;
                align-items: center;
                gap: rem(8px);
            }
        }

        .locale span,
        .links p {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .credits-and-links .credits,
        .credits-and-links .links p {
            font-size: rem(12px);
        }

        .locale {
            grid-row: 1;
            margin-block-end: rem(22px);
            gap: rem(24px);

            span {
                font-family: circular-medium, 'Tahoma';
                font-size: em(12px);
            }
        }

        .social {
            display: none;

            .facebook,
            .instagram,
            .twitter {
                width: rem(18px);
                height: rem(18px);
                font-size: em(12px);
                background-color: $darkGray;
                color: white;
                cursor: pointer;
                font-family: fa-brands, 'Courier New', Courier, monospace;
            }

            .facebook::before {
                content: '\f39e';
            }

            .twitter::before {
                content: '\f099';
            }

            .instagram::before {
                content: '\f16d';
            }

            .twitter {
                border-radius: 2px;
            }
        }

    }

    @media (min-width: 744px) {
        justify-content: center;
        grid-template-columns: repeat(2, max-content);

        .social {
            grid-row: 1;
            grid-column: 2;
            display: grid;
            grid-template-rows: 1fr;
            margin-inline-start: rem(23px);
            gap: 1rem;

            & > * {
                grid-row: 1;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .credits-and-links {
            grid-row: 2;
            grid-column: 1 / -1;

            .credits {
                text-align: center;
            }

            .links {
                justify-self: center;
            }
        }

        .locale {
            margin-block-end: 1rem;
        }
    }

    @media(min-width: 1128px) {
        grid-template-rows: 1fr;
        padding-inline: rem(80px);
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;

        .credits-and-links {
            grid-row: 1;
            grid-column: 1;
            grid-template-rows: 1fr;
            align-items: center;

            .credits {
                grid-row: 1;
                margin-inline-end: rem(8px);

                span {
                    display: inline-block;
                    margin-inline-start: rem(8px);
                }
            }

            .links {
                grid-row: 1;
            }
        }

        .locale, .social {
            grid-row: 1;
            grid-column: 2;
        }

        .locale {
            justify-self: self-start;
            margin-inline-end: rem(109px);
            margin-block-end: 0;
        }

        .social {
            justify-self: self-end;
        }

    }
}
