.full-app-header {
    color: $darkGray;
    background-color: white;
    border-bottom: solid 0.667px $gray2;
    padding-block: 0.5rem 1rem;
    z-index: 1;

    &.header-condensed {
        padding-block-end: 0;
        transition: 0.5s;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content;
        align-items: center;

        .compact-filter {
            opacity: 1;
            transition: opacity 0.3s;
            width: 22rem;

            div {
                text-align: center;
            }
        }

        .filter-labels-section {
            grid-column: 1 / 4;
        }
    }

    &.header-expanded {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;

        .filter-section {
            grid-area: 2 / 1 / 3 / 3;
            justify-self: stretch;
        }

        .user-section {
            justify-self: end;
        }

        .filter-labels-section {
            grid-column: 1 / 3;
        }
    }

    &.header-fixed {
        position: fixed;
        inset: 0 0 auto 0;
    }

    &.header-condensed {
        .compact-filter {
            width: 100%;
        }
    }

    .compact-filter {
        height: 2.875rem;
        width: 0;
        opacity: 0;
        font-size: 0.875em;
        color: $darkGray;
        border: 1px solid #dddddd;
        border-radius: 48px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

        grid-template-columns: 1fr 1fr 1fr 2.4rem;

        cursor: pointer;

        div {
            padding-inline: 0.5rem;
            align-self: center;
        }

        .search-btn {
            width: 2rem;
            height: 2rem;
            background-color: $siteColor;
            border-radius: 50%;
            padding-inline: 1rem 0.9rem;
            margin-inline-end: 0.4rem;
            align-self: center;

            &:before {
                content: '\f002';
                font-family: fa-solid;
                color: white;
                font-size: 11px;
            }

            .check-in {
                box-shadow: 1px 0 0px 0px rgba(0, 0, 0, 0.1), -1px 0 0px 0px rgba(0, 0, 0, 0.1);
            }

            .guest {
                color: $gray1;
                font-weight: normal;
            }
        }
    }

    .logo-section {
        height: 4em;
        gap: 0.2em;

        img,
        span {
            cursor: pointer;
        }

        span {
            font-size: 1.25em;
            font-family: circular-bold;
            color: $siteColor;
        }

        img {
            height: 30px;
        }
    }

    .user-section {
        justify-content: end;
        gap: 1em;

        img {
            width: 35px;
            border-radius: 50%;
        }

        a {
            font-size: 0.875rem;
            border-radius: 40px;
            ;
            padding: 0.5rem 0.75rem;
            font-family: circular-medium;
            text-wrap: nowrap;

            &:hover {
                background-color: $btnHover;
            }
        }

        button {
            width: 5.33rem;
            height: 3rem;
            padding: 8px 8px 8px 14px;
            border: 0.667px solid $gray2;
            border-radius: 32px;
            background-color: white;
            position: relative;

            gap: 1em;

            transition: 0.2s;

            .profile {
                position: relative;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                margin: 0.25rem 0.5rem 0 0;
                background-color: white;

                &::before {
                    content: '\f2bd';
                    font-family: fa-solid;

                    position: absolute;
                    scale: 2.6;
                    transform-origin: top;
                    color: $gray1; //switch to $gray1
                }
            }

            &:hover {
                box-shadow: 1px 2px 2px 2px $gray2;
                cursor: pointer;
            }
        }
    }

    .grayTxt:not(.grayTxt:hover) {
        color: $headerGray;
    }
}

@media (width < 742px) {
    .full-app-header {
        margin-block-end: 0em;

        .user-section a,
        .logo-section span {
            display: none;
        }

        &.header-expanded {
            .header-filter {
                transform: translateY(-3.5rem) scale(0.4, 0.65);
                opacity: 0;
                transition: 0.3s ease-out;
                height: 0;
                display: none;
            }

            .compact-filter {
                opacity: 1;
                transition: opacity 0.3s;
                width: 100%;
            }
        }
    }
}

@media (width < 500px) {
    .full-app-header {

        .filter-section .compact-filter {
            grid-template-columns: 1fr 2.4rem;

            .check-in,
            .guest {
                display: none;
            }

        }
    }
}