.date-filter {
    position: absolute;
    top: 120%;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    width: 53rem;
    height: 31rem;
    border-radius: 24px;
    color: $darkGray;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.rdrDateRangePickerWrapper {
    & span{
        color: $darkGray;
    }


    & .rdrDefinedRangesWrapper {
        position: absolute;
        
    }


}

.rdrMonths {
   font-size: 1.2em;
}


.rdrDays {
    font-size: 1.2em;
 }

 .rdrDateRange {
   color: rebeccapurple;
}

// .rdrDateRangePickerWrapper span {
//     color: $darkGray;
//     border-radius: 50%;
//     // height: 2.7em;
// }


// .rdrInRange{
//     background-color: none !important;
// }