.dynamic-modal-header {
    padding-inline-end: rem(286.5px);
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    justify-content: flex-end;
    width: 100%;
    gap: 24px;
    color: $darkGray;

    .txt-container {
        gap: 2px;

        h3 {
            font-size: em(16px);

            span {
                font-size: em(14px);
            }
        }
        .txt-reviews {
            font-size: em(12px);
        }
    }

    button {
        @include coloredBtn;
        
        line-height: 19px;
    }
}