.dynamic-header-nav {
    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
    color: $darkGray;
    background-color: #fff;
    padding-inline-start: rem(286.5px);
    border-block-end: 0.667px solid $lightGray;
    z-index: 2;

    display: flex;
    gap: 24px;
    
    a {
        font-size: rem(14px);
        color: $darkGray;
        padding-block: 30px;
        font-family: circular-reg;

        &:hover {
            border-block-end: 3px solid $darkGray;
        }
    }
}

