.dynamic-modal-header {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    color: $darkGray;
    padding-inline-end: 3rem;
    margin-block-start: 0.75rem;
    z-index: 1;
    gap: 24px;
    justify-content: end;

    .txt-container {
        gap: 2px;

        h3 {
            font-size: em(16px);

            span {
                font-size: em(14px);
            }
        }

        .txt-reviews {
            font-size: em(12px);
        }
    }

    button {
        @include coloredBtn;
        line-height: 19px;
    }
}

@media(width > 742px) {
    .dynamic-modal-header {
        display: flex;
    }
}