.map-filter {
    position: absolute;
    top: 120%;
    box-shadow: 0 3px 12px 0 rgb(0 0 0/0.15);
    width: 26.75rem;
    height: 25.5625rem;
    border-radius: 24px;
    color: $darkGray;
    background-color: white;
    padding: 2em 1.5em;
    z-index: 1;


    & h1 {
        font-size: 0.875rem;
        margin-left: 0.5rem;
       margin-bottom: 1rem;
       
    }

    & .regions {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        // padding: 32px 24px 24px 24px;
        row-gap: 1em;



        & .region {
            padding: 0.5rem;
            row-gap: 0.5em;
            font-size: 0.875rem;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            font-weight: normal;

            &:hover{
                background-color: $gray2;
                border-radius: 10px;
                cursor: pointer;
               
            }


        }
        

    }

    & img {
        width: 6.8rem;
        height: 6.8rem;
        border-radius: 10px;
        border: solid 1px $gray2;
    }
}