.progress-footer {
    position: fixed;
    bottom: 0;
    height: 5.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: $darkGray;
    background: white;
    width: 100%;

    & .next-btn {
        margin-right: 50px;
        width: 6em;
        background-color: $darkGray;
        height: 3em;
        color: white;
        border-radius: 10px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s, transform 0.2s; // Added opacity transition
        user-select: none;

        &:hover {
            transform: scale(1.02);
        }

        &.disabled {
            opacity: 0.15;
            cursor: not-allowed;
            transform: scale(1);
        }
    }


    & .back-btn {
        margin-left: 50px;
        text-decoration: underline;
        font-size: 1em;
        user-select: none;

        &.disabled {
            opacity: 20%;
            cursor: not-allowed;
        }
    }


    & .Publish-btn {
        margin-right: 50px;
        width: 8em;
        background-color: $siteColor;
        height: 3em;
        color: white;
        border-radius: 10px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: transform 0.2s;
        user-select: none;

        &:hover {
            transform: scale(1.02)
        }
    }

    & .progress-bar-filling,
    .progress-bar-background {
        position: absolute;
        height: 10px;

        top: 0;
    }

    & .progress-bar-background {
        background-color: $gray2;
        width: 100%;
    }

    & .progress-bar-filling {
        background-color: $darkGray;
        transition: width 0.3s ease;
    }
}