$galley-br: 0.75rem;

.gallery-stay-details {
    position: relative;
    display: grid;
    color: $darkGray;

    .show-all-btn {
        gap: rem(8px);

        position: absolute;
        bottom: rem(24px);
        right: rem(24px);
        font-size: rem(14px);
        font-family: circular-medium;
        padding: rem(7px) 1rem;
        border: 1px solid $darkGray;
        border-radius: $border-radius-2;
        background-color: #ffffffc6;

        cursor: pointer;
    }

    @media(width >=742px) {
        gap: rem(8px);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .show-all-btn {
            opacity: 1;
        }

        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            aspect-ratio: 1 / 1;
            display: block;
        }

        .img0 {
            grid-area: 1 / 1 / 3 / 3;
            border-radius: $galley-br 0 0 $galley-br;
        }

        .img1 {
            grid-area: 1 / 3;
        }

        .img2 {
            grid-area: 1 / 4;
            border-radius: 0 $galley-br 0 0;
        }

        .img3 {
            grid-area: 2 / 3;
        }

        .img4 {
            grid-area: 2 / 4;
            border-radius: 0 0 $galley-br 0;
        }
    }

    @media (width < 742px) {
        .gallery-stay-details {
            grid-template-columns: 1fr;
        }

        .img0 {
            grid-column: 1;
            max-width: 100%;
        }

        .img1,
        .img2,
        .img3,
        .img4 {
            display: none;
        }

        @media (height < 444px) {
            .gallery-stay-details {
                grid-template-columns: 1fr 25vw 25vw;
            }

            .img1,
            .img2 {
                display: block;
            }

            .img1 {
                grid-column: 2;
            }

            .img2 {
                grid-column: 3;
            }
        }
    }
}