.stay-edit main>section {
    color: $darkGray;
    padding-inline: 1.5rem;

    &:not(.stage-0) {
        min-height: calc(100vh - 11rem);
    }
}

.stay-edit {
    main>section:not(.title-stage):not(.stage-0) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stage-2,
    .stage-3 {
        padding-block: 0.5rem 6.5rem;

        h1 {
            font-size: 1.5rem;
            margin-block-end: 1.55rem;
        }
    }

    .stage-4,
    .stage-5,
    .stage-7,
    .stage-8,
    .stage-9,
    .stage-10,
    .stage-11,
    .stage-13,
    .stage-14,
    .stage-15,
    .stage-16 {
        padding-block: 1.5rem 6.5rem;

        h1 {
            font-size: 1.5rem;
            margin: 0;
        }

        h2 {
            font-size: 1.1rem;
            color: $gray2;
            margin-block-end: 2rem;
            font-weight: normal;
        }
    }

    .stage-0 {
        padding-block: 1.5rem 6.5rem;
        grid-template-rows: 2fr 3fr;

        h1 {
            font-size: 2rem;
            align-self: center;
            justify-self: center;
        }

        ol {
            padding: 0;
        }

        li {
            display: grid;
            grid-template-columns: 0.25fr 3fr 0;
            grid-template-rows: 1fr 0;

            h2 {
                font-size: 1rem;
                font-weight: normal;
                font-family: circular-bold;
            }

            h2:nth-of-type(2) {
                grid-area: 1 / 2 / 2 / 3;
                font-family: circular-reg;

            }

            p {
                grid-area: 2 / 2 / 3 / 3;
                display: none;
                padding-inline-end: 2rem;
            }

            img {
                grid-area: 1 / 3 / 3 / 4;
                display: none;

                width: 100px;
                align-self: center;
            }
        }

        li:not(:first-of-type) {
            padding-block-start: 1rem;
        }

        li:not(:last-of-type) {
            border-block-end: 0.677px solid $gray4;
        }
    }

    .title-stage {
        display: grid;
        grid-template-columns: 1fr 0;
        grid-template-rows: 1fr fit-content fit-content max-content 1fr;

        .step {
            grid-area: 2 / 1 / 3 / 2;
            font-family: circular-medium;
            font-size: 1rem;
            align-self: end;
        }

        .title {
            grid-area: 3 / 1 / 4 / 2;
            align-self: center;
            letter-spacing: -0.5px;
            font-size: 2rem;
            margin-block: 0;
        }

        .description {
            grid-area: 4 / 1 / 5 / 2;
            font-size: 1rem;
        }

        video {
            display: none;
            grid-area: 1 / 2 / 6 / 3;
            justify-self: center;
            align-self: center;
            width: 100%;
        }
    }

    .buttons-section {
        .btns {
            grid-template-columns: repeat(1, minmax(5rem, 10rem));
            grid-auto-flow: row;
            gap: 1.1rem;
            justify-content: center;

            padding-block: 1rem 2rem;
        }

        .btn {
            font-size: 12px;
            height: 100%;
            width: 100%;
            padding: 1.5rem 1rem 1rem;
            border-radius: 9px;
            font-family: circular-medium;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.25rem;
            text-transform: capitalize;

            @include buttons2;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    .stage-3 {
        .btns {
            grid-template-rows: repeat(3, 6rem);
            gap: 1rem;
        }

        .btn {
            height: 100%;
            width: 100%;
            padding: 1.2rem;
            border-radius: $border-radius-4;

            @include buttons2;

            display: grid;
            grid-template-columns: 1fr 100px;
            grid-template-rows: fit-content;
            align-items: center;
            column-gap: 5%;

            h2 {
                margin: 0;
                font-size: 1rem;
                justify-self: center;
            }

            p {
                grid-area: 2 / 1 / 3 / 2;
                justify-self: start;

                display: none;
                font-size: 1rem;
            }

            div {
                grid-area: 1 / 2 / 2 / 3;
                justify-self: center;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    .stage-4 {
        form {
            grid-template-columns: repeat(2, minmax(1px, 1fr));
            grid-template-rows: repeat(3, 3.5rem);

            input {
                width: 100%;
                font-size: 1rem;
                border: none;
                border-radius: $border-radius-2;
                outline: none;
                padding-inline: 1rem;
            }

            div {
                font-size: 1rem;
                padding-inline: 1rem;
                border: none;

                cursor: pointer;

                &:focus {
                    border: 0.667px solid $darkGray;
                }

                &.country {
                    border-block-start: 0.667px solid $gray3;
                    border-inline: 0.667px solid $gray3;
                    border-radius: $border-radius-2 0 0 0;
                }

                &.countryCode {
                    border-block-start: 0.667px solid $gray3;
                    border-inline-end: 0.667px solid $gray3;
                    border-radius: 0 $border-radius-2 0 0;
                }

                &.city {
                    grid-column: 1 / 3;
                    width: 100%;
                    border-block-start: 0.667px solid $gray3;
                    border-inline: 0.667px solid $gray3;
                }

                &.address {
                    grid-column: 1 / 3;
                    width: 100%;
                    border: 0.667px solid $gray3;
                    border-radius: 0 0 $border-radius-2 $border-radius-2; // remove when coordinates
                }

                &.coordinates {
                    grid-column: 1 / 3;
                    width: 100%;
                    // border-inline: 0.667px solid $gray3;  // uncomment when coordinates
                    // border-block-end: 0.667px solid $gray3;
                    border-radius: 0 0 $border-radius-2 $border-radius-2;
                }
            }
        }
    }

    .stage-5 {
        form {
            grid-template-rows: repeat(4, 1fr);
            width: 100%;
            max-width: 35rem;

            h3 {
                padding: 0;
            }

            &>div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding-block: 1rem;
                border-block-end: 0.667px $gray3 solid;

                &:last-of-type {
                    border: none;
                }

                div {
                    display: flex;
                    gap: 1rem;
                }
            }
        }

        button {
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;

            width: 1.875rem;
            height: 1.875rem;
            border-radius: $border-radius-circle;
            font-size: 1.2em;
            border: solid 1px $gray3;
            background-color: white;
            padding-block-end: 0.25rem;
            color: $gray2;

            &:hover {
                border: solid 1px $darkGray;
                color: $darkGray;
            }

            &.disabled {
                opacity: 20%;
                cursor: not-allowed;
            }
        }
    }

    .stage-8 {
        .upload-preview {
            margin-top: 1.5em;
            box-shadow: 1px -1px 16px 5px rgba(0, 0, 0, 0.1215686275);
            width: 90%;
            min-height: 25vh;
            border-radius: $border-radius-4;
            background-color: $btnHover;

            display: flex;
            flex-direction: column;
            align-items: center;

            cursor: pointer;

            .img-gallery {
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                overflow: hidden;

                display: grid;
                gap: 0.5rem;

                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

                .img {
                    position: relative;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: $border-radius-4;
                        box-shadow: 0 0 0.3rem $gray3;
                    }

                    &:hover {
                        opacity: 0.9;
                    }

                    &:hover .replace-img-txt {
                        display: inline;
                    }

                    .delete-btn {
                        position: absolute;
                        inset: 0.5rem 0.5rem auto auto;
                        font-size: 0.75rem;
                        background-color: transparent;

                        &::before {
                            content: '\f2ed';
                            font-family: fa-reg;
                        }

                        &:hover {
                            background-color: rgba(247, 247, 247, 0.6);
                        }
                    }
                }
            }

            .replace-img-txt {
                padding-block: 10vh;
                font-size: 1.5em;
            }
        }
    }

    .stage-9,
    .stage-11 {
        h2 {
            margin-block-end: 1rem;
        }

        input,
        textarea {
            margin-block-start: 0.7em;
            border-radius: $border-radius-4;
            border: 1px solid $gray2;
            outline: none;
            color: $gray2;
        }

        input {
            padding: 0.5rem 1rem 1rem;
            width: 50vw;
            height: 15vh;
            font-size: 1.5rem;
        }

        textarea {
            width: 60vw;
            height: 20vh;
            font-size: 1rem;
            padding: 0.5rem;
        }

        span {
            align-self: start;
            margin-block-end: 0.7em;
            padding-inline-start: 10%;
        }
    }

    .stage-10 {
        .btns .btn {
            svg {
                width: 1.8rem;
                height: 1.8rem;

                &>* {
                    scale: 0.28;
                }
            }
        }
    }

    .stage-13 {
        grid-template-rows: fit-content repeat(3, max-content) 1fr;

        &>div {
            width: 100%;
            max-width: 40rem;

            h3 {
                padding: 0;
            }
        }

        div {
            margin: 1.6rem 1rem 0 0;
            height: fit-content;

            div {
                margin: 0;
            }
        }

        h3 {
            padding-inline: 0;
            font-weight: normal;
            font-size: 1.25rem;
            font-family: circular-reg;
            margin-block: 0 0.4rem;
        }

        p {
            color: $gray2;
        }

    }

    .stage-14 {
        .checkbox-group {
            grid-template-columns: minmax(0, 1fr);
            row-gap: 1rem;
            padding-block-end: 1rem;

            .checkbox-item {
                cursor: pointer;

                .Mui-checked {
                    color: $darkGray;
                }

                .checkbox {
                    background-color: transparent;
                    color: $gray4;

                    &:hover {
                        color: $darkGray;
                    }
                }

                span {
                    font-family: circular-thin;
                }
            }

            label {
                text-transform: capitalize;
            }
        }
    }

    .stage-15 {
        div {
            padding-block-start: 2rem;

            &>* {
                font-size: 3rem;
                font-family: circular-bold;
            }

            input {
                border-radius: $border-radius-4;
                border: none;
                outline: none;
                max-width: 50vw;
                color: $darkGray;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }
        }

        p {
            font-size: 2rem;
        }
    }

    .stage-16 {
        padding-block: 1rem 5rem;

        h1,
        h2 {
            margin-block-end: 0;
        }

        .preview-edit-page {
            grid-template-rows: fit-content fit-content;
            column-gap: 5vw;

            .edit-preview {
                justify-self: center;
                width: 24rem;
                height: 25rem;
                max-width: 80vw;
                max-height: 80vw;
                padding: 1rem 1rem 0.3rem 1rem;
                margin-top: 1.5em;
                box-shadow: 1px -1px 16px 5px rgba(0, 0, 0, 0.1215686275);
                border-radius: 30px;

                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 100%;
                    height: calc(100% - 4.08rem);
                    object-fit: cover;
                    border-radius: 16px;
                    background-color: #e5e5e5;
                }

                .preview-text {
                    width: 100%;
                    padding: 0.3rem;

                    display: flex;
                    justify-content: space-between;

                    p:not(span) {
                        font-family: circular-medium;
                    }

                    .new span {
                        font-size: 1rem;
                        margin-right: 0.3rem;
                    }
                }
            }

            .next-article {
                padding-block: 3rem;

                h3 {
                    padding: 0;
                    margin: 0;
                    font-size: 1.5rem;
                }

                div {

                    h4 {
                        margin-block: 2rem 0.5rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (width > 500px) {
    .stay-edit main section {
        padding-inline: 3rem;
    }

    .stay-edit {

        .buttons-section {
            .btns {
                grid-template-columns: repeat(2, 12.25rem);
            }

            .btn {
                font-size: 15px;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .stage-0 {
            grid-template-columns: 2fr 3fr;
            grid-template-rows: 1fr;

            h1 {
                font-size: 2rem;
            }

            ol {
                padding-inline-start: 2.5rem;
            }

            li {
                h2 {
                    font-size: 1.15rem;
                    font-weight: normal;
                }
            }
        }

        .stage-3 {
            .btn {
                h2 {
                    font-size: 1.25rem;
                }
            }
        }

        .stage-14 .checkbox-group {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 5vw;
        }

        .stage-15 div {
            &>* {
                font-size: 5rem;
            }

            input {
                max-width: 25vw;
            }
        }
    }
}

@media (width > 600px) {
    .stay-edit {
        main>section:not(.title-stage):not(.stage-0) {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.25rem;
            }
        }
    }
}

@media (width > 742px) {
    .stay-edit main section {
        padding-inline: 6.25rem;
    }

    .stay-edit {
        .title-stage {
            grid-template-columns: 1fr 1fr;

            .step,
            .description {
                font-size: 1.2rem;
            }

            .title {
                font-size: 3rem;
            }

            video {
                display: block;
            }
        }

        .buttons-section {
            .btns {
                grid-template-columns: repeat(3, 12.25rem);
            }
        }

        .stage-0 {
            h1 {
                font-size: 2.5rem;
            }

            li {
                grid-template-columns: 0.25fr 3fr 1fr;
                grid-template-rows: 1fr 0;

                h2 {
                    font-size: 1.4rem;
                }

                img {
                    display: block;
                }
            }
        }

        .stage-2 {
            .btns {
                grid-template-columns: repeat(4, 10rem);
            }
        }

        .stage-3 {
            grid-template-rows: fit-content fit-content;

            .btn {
                h2 {
                    font-size: 1.5rem;
                    justify-self: start;
                }

                p {
                    display: block;
                }

                div {
                    grid-area: 1 / 2 / 3 / 3;

                    svg {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }

        .stage-14 .checkbox-group {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            column-gap: 5vw;
        }
    }
}

@media (width > 900px) {
    .stay-edit {
        .stage-0 {
            h1 {
                font-size: 3.25rem;
            }

            li {
                grid-template-rows: 1fr 1fr;

                h2 {
                    font-family: circular-bold;
                    font-size: 1.4rem;

                    &:nth-of-type(2) {
                        font-family: circular-bold;
                    }
                }

                p {
                    display: block;
                }
            }
        }

        .stage-16 {
            padding-block: 1rem 5rem;

            h1,
            h2 {
                margin-block-end: 0;
            }

            .preview-edit-page {
                grid-template-columns: 4fr 6fr;
                grid-template-rows: fit-content;

                .edit-preview {
                    justify-self: start;
                }

                .next-article {
                    max-width: 40vw;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

video {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}