/* SETUP */
@import 'setup/_typography.scss';
@import 'setup/_functions.scss';
@import 'setup/_variables.scss';
@import 'setup/_mixins.scss';

/* BASICS */
@import 'basics/_base.scss';
@import 'basics/_helpers.scss';
@import 'basics/_layout.scss';

/* PAGES */
@import 'pages/StayIndex.scss';
@import 'pages/StayDetails.scss';
@import 'pages/StayPayment.scss';
@import 'pages/StayEdit.scss';
@import 'pages/UserDashboard.scss';
@import 'pages/UserTrips.scss';

/* CMPS */
@import 'cmps/AppHeader.scss';
@import 'cmps/HeaderFilter.scss';
@import 'cmps/DateFilter.scss';
@import 'cmps/MapFilter.scss';
@import 'cmps/GuestFilter.scss';
@import 'cmps/UserNavModal.scss';
@import 'cmps/AppFooter.scss';
@import 'cmps/ProgressFooter.scss';
@import 'cmps/Stages.scss';
@import 'cmps/StayEditHeader.scss';
@import 'cmps/Loading.scss';

@import 'cmps/LoginSignup.scss';

@import 'cmps/LabelsFilter.scss';
@import 'cmps/StayPreview.scss';
@import 'cmps/FilterModal.scss';

@import 'cmps/StayGalleryPreview.scss';
// @import 'cmps/StayGalleryModal.scss';
@import 'cmps/StayReviewsPreview.scss';
@import 'cmps/DetailsGuestCount.scss';
@import 'cmps/ReservationModal.scss';
@import 'cmps/PaymentModal.scss';
@import 'cmps/StayDetailsDateModal.scss';
@import 'cmps/DynamicLocalHeaderNav.scss';
@import 'cmps/OrderConfirmation.scss';
@import 'cmps/DynamicModalHeader.scss';
@import 'cmps/UserNotification.scss';
