.stay-details {
    margin-block-end: 5rem;
    color: $darkGray;

    header {
        margin-block: 0 1rem;
        align-items: end;

        h1 {
            font-size: 1.75rem;
            margin-block: 0.5rem;
        }

        .header-btns {
            button {
                background-color: transparent;
                text-decoration: underline;
            }

            .share-btn {
                gap: 0.41rem;
                margin-inline-end: 1.25rem;
            }

            .save-btn {
                gap: 0.5rem;
            }
        }
    }

    .gallery-stay-details {
        margin-block: 1rem 2rem;
    }

    .content-and-modal-container {
        margin-block-start: 2rem;
        position: relative;
        grid-template-columns: minmax(1px, 1fr);
        column-gap: 3.5rem;

        .content {
            grid-area: 1 / 1 / 2 / 2;
            padding-inline: 1rem;
        }

        .reserve-modal {
            grid-column: 1 / 2 / 2 / 3;
            align-self: start;
        }

        .content article:not(:last-of-type) {
            border-block-end: 0.667px solid $gray3;
        }

        .place-info {
            padding-block-end: 1.75rem;

            gap: 0.3rem;
        }

        .host-info {
            padding-block: 1.25rem 1.75rem;

            gap: 1.5rem;

            .host-img {
                object-fit: cover;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
            }

            div {
                gap: 0.25rem;

                h3 {
                    font-size: 1rem;
                    margin: 0;
                }

                p {
                    font-size: 0.875rem;
                }
            }
        }

        .room-info,
        .amenity-info {
            padding-block: 3rem;

            h1 {
                font-size: 1.375rem;
                margin: 0;
                padding-block-end: 1.5rem;
            }
        }

        .room-info {
            .rooms-container {
                grid-auto-columns: minmax(201.12px, 1fr);
                grid-auto-flow: column;
                column-gap: 1rem;

                overflow: auto hidden;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                .bedroom {
                    flex-grow: 1;
                    padding: 1.5rem;
                    border: 1px solid $gray3;
                    border-radius: 12px;

                    .icons {
                        margin-block-end: 1rem;
                        gap: 0.5rem;
                    }

                    .bedroom-details {
                        font-size: rem(14px);
                    }
                }
            }
        }

        .amenity-info {
            .amenities-ul {
                grid-template-columns: minmax(1px, 1fr);
                gap: 0.8rem 1rem;

                li {
                    gap: 1rem;

                    &.no-safety-amenity {
                        text-decoration: line-through;
                    }

                    svg {
                        width: rem(24px);
                        height: rem(24px);
                    }
                }
            }

            .accordion-arrow {
                grid-column: 1;
                margin-block-start: 0.5rem;

                font-family: circular-medium;
                text-decoration: underline;

                cursor: pointer;
            }
        }

    }
}

@media (width > 742px) {
    .stay-details .content-and-modal-container {
        .content {
            padding-inline-start: 0;
        }

        .amenity-info {
            .amenities-ul {
                grid-template-columns: repeat(2, minmax(1px, 1fr));
            }
        }
    }
}

@media (width > 900px) {
    .stay-details {
        margin-block-end: 2rem;

        .content-and-modal-container {
            grid-template-columns: minmax(1px, 2fr) minmax(1px, 1fr);
        }
    }
}

@media (width > 1280px) {
    .stay-details {
        .content-and-modal-container {
            .reserve-modal {
                justify-self: end;
                width: 23.25rem;
            }

            .room-info .rooms-container {
                grid-auto-columns: 220px;
            }
        }
    }
}