.index-section {
    color: $darkGray;
    margin-block-start: 5rem;

    .stay-list {
        margin: 0.85rem 0.2rem 1rem;

        grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
        grid-auto-rows: minmax(min-content, max-content);
        grid-gap: 2.5rem 1.75rem;
    }

    .index-end-section {
        margin-block: 3.5rem 2rem;

        gap: 1rem;
        letter-spacing: -0.06rem;

        h1 {
            font-size: 1.125rem;
            font-family: circular-reg;
            font-weight: normal;
            margin: 0;
            color: $darkGray;
        }

        button {
            height: auto;
            padding: 1rem 1.7rem;
            border-radius: $BR2;
            color: white;
            background-color: $darkGray;

            font-family: circular-medium;

            &:active {
                scale: 0.85;
                transition: scale 1s;
            }
        }
    }
}

@media (width > 850px) {
    .index-section {
        &.index-header-condensed {
            margin-block-start: 7rem;
        }

        &.index-header-expanded {
            margin-block-start: 16rem;
        }
    }
}