.user-wishlist {
    
    h2,
    h3 {
        margin-block: 0;
    }
    
    header {
        border-block-end: 0.667px solid $gray4;
        padding-block: 1.1rem 1.275rem;

        h1 {
            font-size: 2em;
            margin-block: 0;
        }
    }

    .no-items {
        padding-block: 2.1rem 3rem;
        border-block-end: 0.667px solid $gray4;

        h2 {
            font-size: 1.375rem;
            letter-spacing: 0.02rem;
            margin: 0;
        }

        p {
            font-size: 1rem;
            padding-block: 0.55rem;
        }

        .search-btn {
            font-size: 1rem;
            width: 10.2rem;
            height: 3rem;
            border-radius: $border-radius-2;
            margin-block-start: 0.55rem;

            @include buttons3;
        }
    }

    .wishlist-items {
        grid-auto-rows: fit-content;
        gap: 1.5rem;
        margin-block: 2rem;

        .wishlist-item {
            grid-template-columns: 1fr 1fr;

            border-radius: $border-radius-3;
            box-shadow: $gray3 1px 1px 16px;
            transition: scale 0.5s;
            
            cursor: pointer;

            &:hover {
                scale: 1.02;
                transition-delay: 0.5s;
            }

            img {
                grid-column: 1;
                object-fit: cover;
                max-width: 100%;
                height: 100%;
                border-radius: $border-radius-3 0 0 $border-radius-3;
            }

            .text {
                position: relative;
                padding: 1rem;
                grid-column: 2;

                grid-auto-flow: row;
                justify-items: center;

                h2 {
                    font-size: 1em;
                }

                p {
                    font-size: 0.8em;
                }

                h3 {
                    font-size: 1em;
                }
            }

            .remove-btn {
                position: absolute;
                inset: auto 0.5rem 0.5rem auto;
                font-size: 1rem;
                color: $gray3;
                background-color: transparent;

                &::before {
                    content: '\f2ed';
                    font-family: fa-reg;
                }

                &:hover {
                    background-color: $btnHover;
                }
            }
        }
    }
}


@media (width > 742px) {
    .user-wishlist {
        .wishlist-items {
            .wishlist-item {
                grid-template-columns: rem(340px) 1fr;

                .text {
                    h2 {
                        font-size: 1.3em;
                    }

                    p {
                        font-size: 1em;
                    }

                    h3 {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media (width > 1130px) {
    .user-wishlist {
        .wishlist-items {
            grid-template-columns: 1fr 1fr;
            
            .wishlist-item {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}