@mixin buttons1 {
    background-color: white;
    border: 0.667px $gray2 solid;

    &:hover {
        border: 0.667px $darkGray solid;
    }

    &.selected {
        background-color: $darkGray;
        color: white;
    }
}

@mixin buttons15 {
    background-color: white;
    border: 0.667px $gray2 solid;

    &:hover {
        border: 0.667px $darkGray solid;
    }

    &.selected {
        background: linear-gradient($darkGray, lighten($darkGray, 15) 5%, $darkGray);
        color: white;
    }
}

@mixin buttons2 {
    background-color: white;
    border: 0.667px $gray2 solid;

    &:hover {
        border: 0.667px $darkGray solid;
    }

    &.selected {
        border: 2px $darkGray solid;
        background-color: $btnHover;
    }
}

@mixin buttons3 {
    background-color: white;
    border: 0.667px $darkGray solid;

    &:hover {
        background-color: $btnHover;
    }

    &.selected {
        scale: 0.85;
        transition: scale 1s;
    }
}

@mixin cardColor($status-color) {
    border: 4px solid $status-color;
    background-color: rgba($status-color, 0.2);

    header {
        background-color: $status-color;
    }
}