@font-face {
    font-family: circular-reg;
    src: url('/src/assets/fonts/Circular-Regular.ttf');
}

@font-face {
    font-family: circular-bold;
    src: url('/src/assets/fonts/Circular-Bold.ttf');
}

@font-face {
    font-family: circular-medium;
    src: url('/src/assets/fonts/Circular-Medium.ttf');
}

@font-face {
    font-family: blinkMac;
    src: url('/src/assets/fonts/blinkmacsystemfont-light.ttf');
}

@font-face {
    font-family: circular-thin;
    src: url('/src/assets/fonts/Circular-Light.ttf');
}
@font-face {
    font-family: fa-solid;
    src: url('/src/assets/fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: fa-reg;
    src: url('/src/assets/fonts/fa-regular-400.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('/src/assets/fonts/fa-brands-400.ttf');
}

@font-face {
    font-family: fa-comp;
    src: url('/src/assets/fonts/fa-v4compatibility.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('/src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}